/* TABLET */
@media screen and (max-width: 868px) {
    .ul-main li{
        margin-bottom: 30px;
    }
    .card{
        width: calc(100% / 2 -10px);
        margin-bottom: 20px;
    }
    .foot-heart{
        display: flex;
        flex-direction: column;
    }
    .border1{
    width: calc(400px * 60 / 100);
    }
    .border2{
        width: calc(130px * 60 / 100);
    }
}
@media screen and (max-width: 676px) {
    .foot-heart{
        display: none;
    }
    .card{
        margin: 8 5px;
    }
}
@media screen and (max-width: 620px) {
    .border2{
        display: none;
    }
}



/* MOBILE */
@media screen and (max-width: 500px) {

    /* header */
    header{
        width: 50px;
    }
    .container-header{
        display: none;
    }
    .container-header-mobile{
        display: block;
        margin: 10px auto;
    }
    .container-header-mobile i:hover{
        color: white;
        cursor: grab;
    }
    .container-header-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 18px;
        height: 100%;
    }
    .spotify i{
        font-size: 33px;
        margin-bottom: 13px;
    }
    .container-header-mobile .home, .spotify{
        color: white;
    }
    .container-header-mobile li{
        margin-bottom: 10px;
        text-align: center;
        list-style-type: none;
    }
    .container-header-mobile a{
        font-size: 25px;
    }
    .end-header-mobile{
        text-align: center;
    }
    .end-header-mobile .fa-circle-down{
        font-size: 10px;
        padding-bottom: 20px;
    }
    .fa-circle-user{
        font-size: 25px;
    }

    /* section 0 */
    .section-0{
        left: 50px;
    }

    /* main */
    main{
        margin-left: 50px;
    }
    .card{
        width: 175px;
        margin: 0 5px;
        text-align: center;
    }
    .played{
        margin-bottom: 10px;
    }
    .card img{
        width: 175px;
        margin-bottom: 5px;
    }
    .played-img{
        width: 175px;
        position: relative;
    }

    /* footer */
    .commands i{
        margin: 0 8px;
        font-size: 12px;
    }
    .commands .fa-circle-play{
        color: white;
        font-size: 24px;
    }
    .foot-heart{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .border1{
        width: calc(400px * 27 / 100);
    }
}

@media screen and (max-width: 468px) {
    .foot-heart{
        display: none;
    }
    .card{
        margin: 8 5px;
    }
}

